<%- include ("../partials/header.ejs") %>
    <h1 class="text-center">Weather App</h1>

    <div class="container mt-5">
      <form action="/" method="POST">
        <div class="form-group">
          <label class="h3" for="city">City (Required)</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="Eg. Vancouver, Toronto, Los Angeles etc.."
            required
          />
        </div>

        <div class="form-group">
          <label class="h3" for="country-code">Country Code</label>
          <input
            type="text"
            class="form-control"
            id="country-code"
            name="countryCode"
            placeholder="Eg. CA, US, UK etc..."
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-warning btn-block">
            Search
          </button>
        </div>
      </form>
    </div>
<%- include ("../partials/header.ejs") %>
